/* Notes:
- margin: auto; centers blocks
- height: auto; with manual width gives a more responsive website than width: auto; with manual height or all auto
- "vmin" units set the block such that it is relative to the smaller side of the viewport. E.g. On computers, it will be relative to
  the height and on phones it will be relative to the length */


/* Section: Custom Fonts */


@font-face {
    font-family: 'Calibri Light';
    src: url(../fonts/calibril.woff)
}

@font-face {
    font-family: 'Typeface';
    src: url(../fonts/simplifica_typeface.ttf)
}


/* Section: Classes And Styling */

/* The following 9 blocks set up the default characteristics of certain tags */

html {
    scroll-snap-type: y proximity; /* Activates scroll-snapping in the page, which allows users to "snap" to certain areas when scrolling */
    background-color: black;
}


h1, h2, h3 {
    color: #b3e3ff;

    font-family: 'Calibri Light';
    font-weight: 100;

    letter-spacing: 0.1em;
}


h1 {
    color: #b3e3ff;

    text-align: center;
    font-size: 4.5em;

    padding-top: 10%;
    padding-bottom: 1%;
}


h2 {
    font-size: 2em;
}


h3 {
    font-size: 1.5em;
}

figcaption {
    color: #f2f2f2;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;

    line-height: 1.8;
    letter-spacing: 0.015em;
    text-align: center;
}


table {
    color: #f2f2f2;

    width: 100%;
    border-collapse: collapse; /* Lets table borders be collapsed into a single border instead of being separated, which is the default */

    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;

    line-height: 1.8;
    letter-spacing: 0.015em;
}


td {
    padding: 1%;
}


p {
    color: #f2f2f2;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;

    line-height: 2;
    letter-spacing: 0.015em;
}


/* The following 3 blocks set up flex containers and flex items */

.flex-container {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    min-height: 100vh; /* Makes each section exactly the height of the viewport, unless there is too much content */
}

.flex-item {
    flex: 1 36%; /* Default flex-container is 55% image, 36% text, and 2% padding for each item */
    flex-direction: row;

    padding: 2%;
    margin: auto;
}

.flex-item img {
    width: 100%;
    height: auto;
}


.image-beside-text {
    /* Sets up what happens if image is beside text (default) */

    flex-basis: 55%;

    padding-top: 0%;
    padding-bottom: 0%;
}


.tall-image {
    /* Sets up what happens if image is beside text and the image height is longer than its width */

    flex-basis: 10%;

    padding-top: 0%;
    padding-bottom: 0%;
}


.tall-image > img {
    max-width: 60vmin;
    padding-left: 7%;
}


/* The following 5 blocks of .underline > a sets up the line animation when hovering and attributes of the <a> tag. 
    Source referenced in README.md file */

.underline > a:link {
    /* Default color of words */

    color: #b3e3ff;
    text-decoration: none;
}

.underline > a:after {
    /* "after" inserts something after the selected content. In this case, the <a> tag */
    /* This line activates when you release the link from hover. */

    content: ''; /* Displays nothing after the words in the <a> tag */ 
    display: block;
    position: absolute;

    width: 0; /* Makes sure no line appears below words before you hover over it */
    height: 0.1vmin; /* Height of the line */

    margin-top: 1px; /* Sets how far the line is from the words */
    right: 0; /* Makes sure that the line does not go too much to the right */
    background: red; /* Sets up the line color when you release from hovering */
    transition: width .25s ease; /* Sets up the type of transition and duration of transition */
}

.underline > a:visited {
    color: #b3e3ff;
    text-decoration: none;
}

.underline > a:hover {
    color: #f2f2f2;
    transition-duration: 0.35s; /* Sets a regular transition effect between default color and new color */
}

.underline > a:hover:after {
    /* "after" inserts something after the selected content. In this case, the <a> tag */
    /* This line activates when you start hovering over the link. */
    color: #f2f2f2;
    background: #fff;

    width: 100%;
    left: 0;
}


/* The following block sets up the buttons, specifically "Find Out More" */

.secondary-link-holder {
    width: 30%;
    height: auto;
    margin: auto;
    padding: 3%;

    border-radius: 2vmin;
    border: 2px solid #b3e3ff;

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    letter-spacing: 0.05em;
    margin-top: 8%;
}


/* The following 2 blocks make links relative to .underline > a, allowing the animations to activate */

a.secondary-link {
    position: relative;
}

h2 > a {
    position: relative;
}


.snap-point {
    scroll-snap-align: start; /* Sets up the snap points and how snapping works. Here, the scroll bar snaps to the end of the html block */
}


/* The following 3 blocks set up the positioning and styling of videos */

.video-holder {
    position: relative;
    overflow: hidden;

    width: 100%;
    padding-top: 25%;
    margin-left: 2%;
    margin-right: 3.5%;
}

.video {
    /* Makes sure the video fills up the entire flex-item. Source referenced in README.md file */

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80%;
    z-index: 0;
}

.video-holder > figcaption {
    color: #b3e3ff;
}


/* The following 3 blocks set up the top navigation bar */

.topnav {
    display: inline-flex;
    width: 92%;

    align-items: center;
    align-content: center;
    justify-content: center;

    text-align: center;
    z-index: 1;
}

.topnav > div > a {
    position: relative;

    padding: 0% !important;
    margin: 0 !important;

    flex-basis: 2%;

    font-size: 1.5em;
    font-family: "Calibri Light";
}

.logo {
    padding-left: 10%;
    margin: 0;
    
    flex-basis: 1%;

    z-index: 0;
}


.logo-image {
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 15vw !important;

    z-index: 0;

}


/* The following 4 blocks of code change headers and links to a red color for the Falcon Heavy page */

.red > div > h2, .red > div > h3 {
    color: rgb(223, 23, 23);
}

.red > a:link {
    color: rgb(223, 23, 23);
}

.red > a:visited {
    color: rgb(223, 23, 23);
}

.red > a:hover {
    color: #f2f2f2;
}


/* The following code customized the scroll bar */

::-webkit-scrollbar {
    /* Sets up the entire scrollbar */

    width: 12px;
}

::-webkit-scrollbar-track {
    /* Sets up the scrollbar background color */

    background: rgb(23, 25, 32);
}

::-webkit-scrollbar-thumb {
    /* Sets up the scrollbar thumb color and size */

    background: #45a2d8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* Sets up the scrollbar thumb color when hovering */

    background: #78c8f7;
}


/* The following 2 blocks set up the nested scroll */

.overscroll {
    overflow: scroll; 
    height: 90vh; 
    flex-basis: 40%; 
    border-left: 2px solid #f2f2f2;
}


.overscroll-img {
    padding-top: 4.5%;
}


/* Section: IDs used in multiple pages */


#intro {
    background-image: url("../images/space.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    border: 1px solid black;
}

#inquiries {
    margin-bottom: 8%;
    text-align: center;
    margin-top: 5%;
}


/* Section: index.html IDs */


#starlink-description {
    flex: 1 100%;

    padding-right: 12%;
    padding-left: 12%;
}

#about {
    background-image: url("../images/takeoff_actual.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#quoter-name, #quote {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-style: normal;

    line-height: 1.7;
    text-align: center;

    padding: 0%;
    padding-left: 5%;
    padding-right: 6.5%;
}


#videos-description {
    flex: 1 100%;

    text-align: center;
    font-size: 1.35em;
}


#social-media {
    display: block;

    width: 100%;
    margin-top: 20%;
    margin: auto;
    text-align: center;
    
}


#social-media > a {
    position: relative;

    margin: 1%;
    padding-bottom: 2%;

    font-family: "Calibri Light";
    font-weight: bolder;
}


#img-fluid {
    width: 10%;
    height: auto;
    float: left;
    
    margin-top: 0;
    z-index: 0;
}


/* Section: falcon-9.html IDs */


#falcon-9 {
    background-image: url("../images/falcon_9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    border: 1px solid black;

    text-align: center;
}


#falcon-9-title {
    font-size: 2.7em;
    font-weight: 100;
    letter-spacing: 0.4em;

    padding-top: 75vh;
    padding-left: 1.5vw;

    line-height: 0;
}


#falcon-9-desc {
    font-weight: 100;
    letter-spacing: 0.12em;

    line-height: 1.3;
}


#falcon-9-takeoff {
    background-image: url("../images/falcon_9_blastoff.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#table-stats > h2 {
    padding-left: 35%;
}

#falcon-9-takeoff > div {   
    padding-bottom: 45vh;
}

#description {
    padding-left: 10%;
    text-align: left;
}

#falcon-9-video-holder {
    padding-top: 51%;
}

#falcon-9-video-holder > .video {
    width: 100%;
}


/* Section: falcon-heavy.html IDs */


#falcon-heavy {
    background-image: url("../images/falcon_heavy_cover_actual.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    border: 1px solid black;

    text-align: center;
}

#falcon-heavy-title {
    font-size: 2.7em;
    font-weight: 100;
    letter-spacing: 0.4em;

    padding-top: 70vh;
    padding-right: 1.5vw;

    color: rgb(221, 26, 26);

    line-height: 0;
}

#falcon-heavy-desc {
    font-weight: 100;
    letter-spacing: 0.12em;

    padding-right: 0.7vw;

    line-height: 1.2;

    color: rgb(172, 0, 0);
}

#falcon-heavy-takeoff {
    background-image: url("../images/falcon_heavy_new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#falcon-heavy-takeoff > div {
    padding-bottom: 45vh;
}



@media screen and (max-width: 700px) {
    .flex-container {
        align-items: center;
    }

    .flex-item {
        flex: 1 100%;
    }

    .flex-item img {
        width: 100% !important;
    }

    .video-holder {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 60%;
        margin-left: 2%;
        margin-right: 3.5%;
    }
    
    .video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 80%;
    }

    .secondary-link-holder {
        display: none;
    }

    #starlink-description {
        padding-left: 2%;
        padding-right: 2%;
    }

    #falcon-desc {
        line-height: 1.1em;
    }

    #description > p {
        color: black;
        font-weight: bold;
    }

    #dark-background {
        background-color: black;
        color: #f2f2f2 !important;
    }
}
